.form {
  position: relative;
}

.modalWrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    color: #000;
  }
  
  .inner {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 600px;
    width: 90%;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  input, select {
    font-size: 12px;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    border: 2px solid #c2c2c2;
    border-radius: 4px;
    padding: 8px 12px;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 10px;
  }

  .labelText {
    font-size: 1.2rem;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background-color: #fff;
  }
  