.streamingItemBox {
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem;
  width: 16rem;
  min-height: 14rem;
  max-height: 50rem;
  box-shadow: 0px 4px 20px rgba(11, 29, 120, 0.6);
  position: relative;
}

