.streamingListBox {
    padding: 30px 0;
    overflow-x: visible;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    min-height: 20rem;
    height: 100%;
    margin-top: 15px;
  }

.streamingListBox ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 0;
    padding-right: 3rem;
    list-style: none;
    margin: 0;
    gap: 1rem;
    scroll-snap-type: mandatory;
}

.streamingListBox ul::-webkit-scrollbar {
    display: none;
  }
  

.streamingListBox ul li {
    flex: 0 0 auto;
    width: 16rem;
    margin-right: 1rem;
}

@media (min-width: 750px) {
    .streamingListBox ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 2.2rem;
    } 
}
  