.modalWrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    color: #000;
  }
  
  .inner {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 600px;
    width: 90%;
  }

  @media (max-width: 450px) {
    .inner {
      width: 100vw;
      height: 100vh;
      border-radius: 0;
      padding: .7rem;
      justify-content: flex-start; 
      overflow-y: auto; 
      -webkit-overflow-scrolling: touch;
    }
  }
  